<div class="contenedor-centro">
    <div class="background-div">

        <div class="container-column">

            <h1>Reservas Realizadas</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>telefono</th>
                        <th>Fecha</th>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        <th>Accion</th>

                    </tr>
                </thead>
                <tbody>
                    <% if @reservas.present? %>
                    <% @reservas.each do |reserva| %>
                    <tr>
                        <td><%= reserva.nombre %></td>
                        <td><%= reserva.telefono %></td>
                        <td><%= reserva.fecha.strftime("%d/%m/%Y") %></td>
                        <td><%= reserva.hora_inicio.strftime("%H:%M") %></td>
                        <td><%= reserva.hora_fin.strftime("%H:%M") %></td>
                        <td>
                            <!-- Botón para Eliminar -->
                            <%= link_to 'Eliminar', administrador_polideportivo_cancha_reserva_path(polideportivo_id: reserva.cancha.polideportivo_id, cancha_id: reserva.cancha_id, id: reserva.id), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta reserva?' }, class: "button button-danger " %>
                        </td>

                    </tr>
                    <% end %>
                    <% else %>
                    <tr>
                        <td colspan="4">No hay reservas registradas.</td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
