<h1 class="center-title negro">CANCHAS DEL <%= @polideportivo.nombre %></h1>
<div class="contenedor-principal">

    <div class="centered-card">
        <div class="polideportivos-grid">
            <% if @canchas.present? %>
            <% @canchas.each do |cancha| %>
            <div class="centered-card-container">
                <div class="centered-card polideportivos">
                    <div class="card-content">
                        <h2 class="card-title"><%= cancha.nombre %></h2>
                        <p class="card-category">Descripcion: <%=cancha.descripcion%></p>
                        <p class="card-category">Precio por Día: S/. <%= cancha.precio_dia %></p>
                        <p class="card-category">Precio por Noche: S/. <%= cancha.precio_noche %></p>
                        <% if cancha.imagen.attached? %>
                        <img src="<%= url_for(cancha.imagen) %>" alt="Imagen del Cancha" class="card-image">
                        <% else %>
                        <div class="card-image">
                            No hay imagen disponible
                        </div>
                        <% end %>
                        <div>
                            <%= link_to 'Ver Reserva', polideportivo_cancha_reservas_path(@polideportivo, cancha), class: 'button button-primary' %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <% else %>
            <div class="centered-card-container">
                <div class="centered-card polideportivos">
                    <div class="card-content">
                        <p>No hay canchas registradas.</p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>

</div>
